<main class="px-3">
  <img class="img-thumbnail my-5" src="../../assets/img/USM.png" alt="USM" />
  <div class="lead">
    <h1>Bachelor of Computer Science</h1>
    <p>CGPA: 3.72</p>
    <p>Sep 2016 - Sep 2020</p>
    <p>Major: Software Engineering</p>
    <p>Minor: Management</p>
    <!-- <a href="USM.html" target="_blank" class="btn btn-primary" id="hoverButton"
      >Certificate</a
    > -->
    <p>
      <a href="#" class="btn btn-secondary"
        >Certificate</a
      >
    </p>
  </div>
</main>
