/*
@media (min-width: 992px) and (max-width: 1199.98px) {}
@media (min-width: 1200px) {}
*/

@media (max-width: 970px) {
    .descrip {
        font-size: 1rem !important;
        text-align: center;
    }

    .greeting {
        font-size: 2rem !important;
        text-align: center;
    }
}

.article-list {
    color: #313437;
    background-color: #fff;
    font-family: Raleway
}

#gform,
.descrip,
.greeting h1 {
    font-family: Raleway, sans-serif;
    color: black;
}

.article-list p {
    color: #7d8285
}

.article-list h1 {
    font-weight: 700;
    padding-top: 50px;
    color: inherit
}

.article-list .item {
    min-height: 425px;
    text-align: center
}

.article-list .item .name {
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
}

.article-list .item .description {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.article-list .item .action {
    font-size: 24px;
    width: 24px;
    margin: 22px auto 0;
    line-height: 1;
    display: block;
    color: #4f86c3;
    opacity: .85;
    transition: opacity .2s;
    text-decoration: none
}

.article-list .item .action:hover {
    opacity: 1
}

.fa,
.headerList,
.listOfItem {
    text-align: center
}

.headerList {
    font-size: 18px;
    font-weight: 700
}

.listOfItem {
    font-size: 18px;
    padding-right: 10%;
    display: inline-block
}

.contact-clean {
    background: #f1f7fc;
    padding: 80px 0
}

.contact-clean form {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)
}

.contact-clean h2 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 36px;
    color: inherit
}

.contact-clean .form-group:last-child {
    margin-bottom: 5px
}

.contact-clean form .form-control {
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    outline: 0;
    color: inherit;
    padding-left: 12px;
    height: 42px
}

.contact-clean form .form-control:focus {
    border: 1px solid #b2b2b2
}

.contact-clean form textarea.form-control {
    min-height: 100px;
    max-height: 260px;
    padding-top: 10px;
    resize: vertical
}

.contact-clean form .btn {
    padding: 16px 32px;
    border: none;
    background: 0 0;
    box-shadow: none;
    text-shadow: none;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .4px;
    line-height: 1;
    outline: 0 !important
}

.contact-clean form .btn:hover {
    opacity: 1
}

.contact-clean form .btn:active {
    transform: translateY(1px)
}

.contact-clean form .btn-primary {
    background-color: #8C43FF !important;
    margin-top: 15px;
    color: #fff
}

.fa-github {
    background: #171515;
    color: #fff
}

.fa-facebook {
    background: #3B5998;
    color: #fff
}

.fa-linkedin {
    background: #007BB5;
    color: #fff
}

.fa {
    padding: 10px;
    width: 40px;
    text-decoration: none !important;
    margin-left: 10px;
    transition: all .55s ease 0s;
    border: 1px solid transparent
}

#facebookButton:hover {
    color: #3b5998;
    background-color: #EBEBEB;
    border: 1px solid #3b5998
}


.container.social {
    margin-left: 5rem;
    opacity: 1
}

#linkedinButton:hover {
    border: 1px solid #007BB5;
    background-color: #EBEBEB;
    color: #007BB5
}

#githubButton:hover {
    border: 1px solid #171515;
    background-color: #EBEBEB;
    color: #171515
}

#contactButton,
#gitButton,
#workTogether,
.col.works {
    font-family: Raleway, san serif
}

#workTogether,
.col.-link,
.col.works {
    text-align: center
}

#footer {
    margin-top: 5rem;
}

#footerWord {
    margin-top: .5%
}

#workTogether {
    margin-top: 5%;
    font-weight: 700
}


#hoverButton {
    transition: all .55s ease 0s;

}

#contactButton,
#gitButton {
    margin: 3% auto;
    display: block;
    width: 10em;
    height: 3em;
    transition: all .55s ease 0s;
    font-weight: 700
}

#Heading1 {
    font-weight: 700;
    margin-top: 3.5%;
    padding-bottom: 1.0%;
    color: white;
    z-index: -1;
}

#Heading2 {
    font-weight: 700;
    margin-top: 3.5%;
    padding-bottom: 1.0%;
    color: black;
    z-index: -1;
}

#contactButton:hover,
#gitButton:hover {
    background-color: #FFFFFF !important;
    border: 1px solid #8C43FF;
    color: #8C43FF;
    font-weight: 700
}

#hoverButton:hover {
    background-color: #FFFFFF !important;
    border: 1px solid #8C43FF;
    color: #8C43FF;
}

#homePage,
body,
html {
    overflow-x: hidden;
}

.col.-link {
    display: block;
    margin: auto;
    font-size: xx-large
}

.col.coming {
    color: #EBEBEB
}

.tab-content.panel-body p {
    padding: 10%;
    font-size: xx-large;
    display: block
}

.tab-content.panel-body {
    min-height: 450px;
    max-height: 450px;
    background-color: #EBEBEB;
    color: #8B93B6;
    text-align: center
}

.panel.panel-default {
    font-family: Raleway;
    font-weight: 500
}

.imagePanel:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: all .55s
}

.image-center {
    display: block;
    margin: auto;
}

.btn-primary {
    background-color: #8C43FF !important;
    border: 1px solid #8C43FF !important;
}

.purple {
    color: #8C43FF;
}

.greeting {
    font-size: 3rem;
}

.descrip {
    font-size: 2rem;
}