<body class="d-flex text-center text-white bg-dark">
  <div class="cover-container d-flex p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <!-- <h3 class="float-md-start mb-0">Cover</h3> -->
        <nav class="nav fixed-top justify-content-center" [ngClass]="{'navbar-inverse' : isScrolled}">
          <li *ngFor="let item of menuItems">
            <a class="nav-link" [routerLink]="item.pageUrl" 
               routerLinkActive="active" >
               {{item.title}}
            </a>
          </li>
        </nav>
      </div>
    </header>

    <router-outlet></router-outlet>

    <footer class="mt-auto text-white-50">
      <p>
        Handcrafted by Chua Wei Zhe
        <!-- <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by
        <a href="https://twitter.com/mdo" class="text-white">@mdo</a>. -->
      </p>
    </footer>
  </div>
</body>
