<!-- <div class="card">
  <div class="row image-center">
    <img src="assets/img/aemulus_resized.png" alt="Aemulus" />
  </div>
  <div class="row">
    <div class="card-body">
      <h3 class="card-title">Aemulus Corporation</h3>
      <h5 class="card-title">Software Application Engineer</h5>
      <h6 class="card-title">July 2020 - June 2021</h6>
      <ul class="card-text">
        <li>
          Designed and developed reusable software solutions (EXEs, DLLs) using
          object oriented programming to boost business efficiency and satisfy
          customer needs
        </li>
        <li>
          Provided proactive software support and software solutions to resolve
          issues for different assigned projects
        </li>
        <li>
          Worked closely with application engineers on production issues,
          identified the root cause and provided prompt software solutions or
          workarounds
        </li>
        <li>
          Provided constructive feedback to solution design team for future
          product roadmap
        </li>
        <li>
          <b>Expanded knowledge</b> in C#, C++/CLI, .NET Framework, WinForms
        </li>
      </ul>
    </div>
  </div>
</div> -->
<main>
  <div class="card my-5">
    <div class="row image-center">
      <img src="assets/img/znt.png" alt="znt" />
    </div>
    <div class="card-body">
      <h3 class="card-title" style="color: black">znt-Richter Malaysia</h3>
      <h5 class="card-title" style="color: black">Software Engineer</h5>
      <p class="card-text" style="color: black">June 2021 - Present</p>
    </div>
    <ul class="list-group list-group-flush">
      <!-- <li class="list-group-item">
      Designed and developed reusable software solutions (EXEs, DLLs) using
      object oriented programming to boost business efficiency and satisfy
      customer needs
    </li>
    <li class="list-group-item">
      Provided proactive software support and software solutions to resolve
      issues for different assigned projects
    </li>
    <li class="list-group-item">
      Worked closely with application engineers on production issues, identified
      the root cause and provided prompt software solutions or workarounds
    </li>
    <li class="list-group-item">
      Provided constructive feedback to solution design team for future product
      roadmap
    </li> -->
      <li class="list-group-item">
        <b>Expanded knowledge</b> in Angular, TypeScript, HTML, CSS, C#, .NET
        Framework & Git
      </li>
    </ul>
    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>

  <div class="card my-5 ">
    <div class="row image-center">
      <img src="assets/img/aemulus_resized.png" alt="Aemulus" />
    </div>
    <div class="card-body">
      <h3 class="card-title" style="color: black">Aemulus Corporation</h3>
      <h5 class="card-title" style="color: black">
        Software Application Engineer
      </h5>
      <p class="card-text" style="color: black">July 2020 - June 2021</p>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        Designed and developed reusable software solutions (EXEs, DLLs) using
        object oriented programming to boost business efficiency and satisfy
        customer needs
      </li>
      <li class="list-group-item">
        Provided proactive software support and software solutions to resolve
        issues for different assigned projects
      </li>
      <li class="list-group-item">
        Worked closely with application engineers on production issues,
        identified the root cause and provided prompt software solutions or
        workarounds
      </li>
      <li class="list-group-item">
        Provided constructive feedback to solution design team for future
        product roadmap
      </li>
      <li class="list-group-item">
        <b>Expanded knowledge</b> in C#, C++/CLI, .NET Framework, WinForms
      </li>
    </ul>
    <!-- <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> -->
  </div>
</main>
